
<!--
Title: Syndicate Uplink, uses some javascript to change nanoUI up a bit.
Used In File(s): \code\game\objects\items\devices\uplinks.dm
 -->
{{:helper.syndicateMode()}}
<H2><span class="white">{{:data.welcome}}</span></H2>
<br>
<div class="item">
	<div class="itemLabelNarrow">
		<b>Functions</b>:
	</div>
	<div class="itemContent">
		{{:helper.link('Реквест предметов', 'gear', {'menu' : 0}, null, 'fixedLeftWider')}}
		{{:helper.link('Эксплуатируемая информация', 'gear', {'menu' : 2}, null, 'fixedLeftWider')}}
		{{:helper.link('Вернуться', 'arrowreturn-1-w', {'return' : 1}, null, 'fixedLeft')}}
		{{:helper.link('Закрыть', 'gear', {'lock' : "1"}, null, 'fixedLeft')}}
	</div>
</div>
<br>

{{if data.menu == 0 || data.menu == 1}}
	<div class="item">
		<div class="itemLabel">
			<b>Телекристалы</b>:
		</div>
		<div class="itemContent">
			{{:data.crystals}}
		</div>
	</div>

	{{if data.discount_amount < 100}}
		<div class="item">
			<div class="itemLabel">
				<b>В настоящее время со скидкой</b>:
			</div>
			<div class="itemContent">
				{{:data.discount_category}}<br>{{:data.discount_name}}<br>{{:data.discount_amount}}%. Скидка действует до: {{:data.offer_expiry}}
			</div>
		</div>
	{{/if}}
{{/if}}

{{if data.menu == 0}}
	<H2>Categories:</H2>
	{{for data.categories}}
		<div class="item">
			{{:helper.link(value.name, 'gear', {'menu' : 1, 'category' : value.ref})}}
		</div>
	{{/for}}
{{else data.menu == 1}}
    <H2><span class="white">Реквест предметов:</span></H2>
    <span class="white"><i>Каждый предмет стоит определенное количество телекристаллов, указанное числом после их имени.</i></span>

	{{for data.items}}
		<div class="item">
			{{:helper.link(value.name, 'gear', {'buy_item' : value.ref}, value.can_buy ? null : 'disabled')}} - <span class="white">{{:value.cost}}</span>
		</div>
		<div class="item">
			{{:value.description}}
		</div>
    {{/for}}
{{else data.menu == 2}}
    <H2><span class="white">Список информационных записей:</span></H2>
    <br>
    <div class="item">
        Выберите запись
    </div>
    <br>
    {{for data.exploit_records}}
        <div class="item">
             {{:helper.link(value.Name, value.exploit ? 'gear' : 'document', {'menu' : 21, 'id' : value.id}, null, value.exploit ? 'redButton' : null)}}
        </div>
    {{/for}}
{{else data.menu == 21}}
    <H2><span class="white">Информационная запись:</span></H2>
    <br>
    <div class="statusDisplayRecords">
        <div class="item">
            <div class="itemContent" style="width: 100%;">
                {{if data.exploit_exists == 1}}
					{{for data.exploit.fields}}
                  	  <span class="good">{{:value.name}}:		</span> <span class="average">{{:value.value}}</span><br>
					{{/for}}
                {{/if}}
            </div>
        </div>
    </div>
{{/if}}
